.card-container {
  width: 2048px;
}

.card {
  width: 26rem;
  border-radius: 20px;
}

.card-title {
  font-size: 1.1rem;
  text-align: left;
  flex-grow: 1;
  font-weight: 600;
}

.card-img-top {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.favorite-btn {
  font-size: 22px;
  padding: 0;
}
.favorite-btn:hover {
  color: red;
}
.starIcon {
  font-size: 22px;
  color: #eb832f;
}

.box:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #e81cff 0%, #000000 100% );
  transform: translate3d(10px, 18px, 0) scale(0.8);
  filter: blur(34px);
  opacity: var(0.6);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
      
      
      
      
      
      
      
      
